<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API Client ID</key>
	<string>Bq8cpL5Im3WvdmiASe9z</string>
	<key>API Client Key</key>
	<string>7H7ol3dj5D</string>
</dict>
</plist>
